*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(248, 239, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color:#b9bab7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    background-color:#0f94d7;
    border-radius: 50%;
    border: 3px solid ;
    box-shadow: 0px 0px 40px rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: azure;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 5px;
    height: 80px;
    border-radius: 5px;
    height: var(--h);
}


